@import url("https://fonts.googleapis.com/css2?family=Imprima&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&display=swap");

$mainfont: "Imprima", sans-serif;
$titlefont: "Anaheim", monospace;
$fontsize: 14px;
