/**
 * Ici, on déclare des variables "globales", comme les couleurs, à utiliser partout ailleurs
 */

$white: #fefefe;
$palegray: #f8f8f8;
$ghostlypurple: #eee6f0;
$graymole: #a4a4a4;
$lightpurple: #debce4;
$heavyvelvet: #9f54aa;
$black: #0e0e0e;
// green for validation
$green: #9fd5d5;
// red for errors / "danger" buttons
$red: #d96565;
// gray used for heavy borders etc.
$darkgray: #929292;
// lighter gray used for button borders and lines
$gray: #bfbfbf;

/* How to use the variables: */
//  body {
//    background-color: $bgcolor;
//    color: $textcolor;
//    font-size: $fontsize;
//  }
