/**
 * Ici, on déclare des variables "globales", comme les couleurs, à utiliser partout ailleurs
 */


$white: #fefefe;
$palegray: #f8f8f8;
$ghostlypurple: #eee6f0;
$graymole: #a4a4a4;
$lightpurple: #debce4;
$heavyvelvet: #9f54aa;
$black: #000;
//  body {
//    background-color: $bgcolor;
//    color: $textcolor;
//    font-size: $fontsize;
//  }
