{% extends 'base.html.twig' %}

{% block main %}
<div class="login-page">
  <div class="login-container">
    <div class="login-logo">Z.</div>
    {% if error %}
      <div class="error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path('app_login') }}" method="post" class="login-form">
      <label for="username">Adresse Mail :</label>
      <input type="text" id="username" name="_username" value="{{ last_username }}" required>
      
      <label for="password">Mot de passe :</label>
      <input type="password" id="password" name="_password" required>
      
      <button type="submit">Connexion</button>
    </form>
  </div>
</div>
{% endblock %}