{% extends 'base.html.twig' %}

{% block title %}Vos tâches{% endblock %}

{% block main %}
    <h1>Tâches</h1>
    <div>
        <section>
            <h2>À Faire</h2>
            <div>
                <h3>Tache 1</h3>
                <ul>
                    <li>Date de fin prévisionnelle: 01/04/25</li>
                </ul>
                <a>En savoir plus</a>
            </div>
            <div>
                <h3>Tache 2</h3>
                <ul>
                    <li>Date de fin prévisionnelle: 01/04/25</li>
                </ul>
                <a>En savoir plus</a>
            </div>
            <div>
                <h3>Tache 3</h3>
                <ul>
                    <li>Date de fin prévisionnelle: 01/04/25</li>
                </ul>
                <a>En savoir plus</a>
            </div>
        </section>
        <section>
            <h2>En cours</h2>
            <div>
                <h3>Tache 1</h3>
                <ul>
                    <li>Date de de début: 03/04/25</li>
                    <li>Date de fin prévisionnelle: 01/04/25</li>
                </ul>
                <a>En savoir plus</a>
            </div>
            <div>
                <h3>Tache 2</h3>
                <ul>
                    <li>Date de de début: 03/04/25</li>
                    <li>Date de fin prévisionnelle: 01/04/25</li>
                </ul>
                <a>En savoir plus</a>
            </div>
        </section>
        <section>
            <h2>En pause</h2>
            <div>
                <h3>Tache 1</h3>
            </div>
        </section>
        <section>
            <h2>Réalisées</h2>
            <div>
                <h3>Tache 12</h3>
                <ul>
                    <li>Date de de début: 03/04/25</li>
                    <li>Date de fin: 01/04/25</li>
                    <li>Durée: 16h</li>
                </ul>
            </div>
        </section>
    </div>
{% endblock %}
