{% extends 'base.html.twig' %}

{% block title %}New Task
{% endblock %}

{% block main %}
	<h1 class="zetia-title">Créer une nouvelle tâche</h1>

	{{ include('task/_form.html.twig') }}

	<a href="{{ path('viewTasks') }}">back to list</a>
{% endblock %}
