{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block main %}
    <h1>Create new Task</h1>

    {{ include('task/_form.html.twig') }}

    <a href="{{ path('ViewTask') }}">back to list</a>
{% endblock %}
