@use "../abstracts/globals" as colors;

@mixin bordered {
    border-width: 1.5px;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 0.75em;
    border-color: colors.$gray;
}

.bordered {
    @include bordered;
}
