@import "abstracts/mediaQueries";

/* Feuille de style dédiée à la classe responsive-table, censée modifier drastiquement l'apparence d'une table en mode mobile.*/

table.responsive-table {
    border: 2px solid rgb(190, 50, 50);

    @include media-screen-xs {
        display: none;
    }

    tr {
        border: 2px solid blue;
    }
}