@use "../abstracts/globals" as colors;

header {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    .icons-container {
        display: flex;
        column-gap: 1em;
    }

    .icon {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: colors.$palegray;
        text-align: center;
        border-radius: 100%;
    }
}
