<div class="zetia-alert zetia-alert-{{ variant }}" {% if timeout %} data-timeout={{ timeout }} {% endif %}>
	<div class="flex zetia-alert-header">
		{% if title is defined %}
			<strong>{{ title }}</strong>
		{% endif %}
		<twig:Icon icon="close" size="14" color="gray"/>
	</div>
	<p>
		{{ message }}
	</p>
</div>
