<div class="zetia-alert zetia-alert-{{ variant }}">
	<div class="flex zetia-alert-header">
		{% if title is defined %}
			<strong>{{ title }}</strong>
		{% endif %}
		<!-- à remplacer par une icone -->
		<twig:Button text="×" variant="danger" size="small"/>
	</div>
	<p>
		{{ message }}
	</p>
</div>
