<div class="zetia-alert zetia-alert-{{ variant }}" {% if timeout %} data-timeout={{ timeout }} {% endif %}>
	<div class="flex zetia-alert-header">
		{% if title is defined %}
			<strong>{{ title }}</strong>
		{% endif %}
		<!-- à remplacer par une icone -->
		<twig:Button text="×" size="small"/>
	</div>
	<p>
		{{ message }}
	</p>
</div>
