{# templates/dashboard/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dashboard</h1>
    <p>Welcome, {{ user.usrFirstName }} {{ user.usrName }}!</p>
    <p>Your role is: {{ user.roles[0] }}</p>
{% endblock %}
