{# templates/dashboard/index.html.twig #}
{% extends 'base.html.twig' %}

{% block main %}
	<h1>Dashboard</h1>
	<p>Bonjour,
		{{ user.usr_first_name }}
		{{ user.usr_name }}!</p>
	<p>votre role est:
		{{ user.roles[0] }}</p>
{% endblock %}
