<div class="zetia-form-container">
	{{ form_start(form) }}
	{{ form_widget(form, {'attr': {'class': 'zetia-form-inputs-container'}}) }}
	<twig:Button variant="purple" text="{{ button_label|default('Enregistrer') }}"/>
	{{ form_end(form) }}
</div>
