{% extends 'base.html.twig' %}

{% block title %}
	Éditer un projet
{% endblock %}

{% block main %}
	<h1>Éditer un projet</h1>

	{{ include('project/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('viewProjects') }}" aria-label="Retour à la liste des projets">Retour</a>

	{{ include('project/delete.html.twig') }}
{% endblock %}
