{% extends 'base.html.twig' %}

{% block title %}
	Éditer un projet
{% endblock %}

{% block main %}
	<h1 class="zetia-title">Éditer un projet</h1>

	{{ include('app/form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}

	<a href="{{ path('pct_index') }}" aria-label="Retour à la liste des projets">Retour</a>

	{{ include('project/delete.html.twig') }}
{% endblock %}
