{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block main %}
    <h1>Create new Project</h1>

    {{ include('project/_form.html.twig') }}

    <a href="{{ path('ViewProject') }}">back to list</a>
{% endblock %}
