{% extends 'base.html.twig' %}

{% block title %}
	Nouveau projet
{% endblock %}

{% block main %}
	<h1 class="zetia-title">Créer un nouveau projet</h1>

	{{ include('app/form.html.twig', {'button_label': 'Enregistrer le projet'}) }}

	<a href="{{ path('pct_index') }}" aria-label="Retour à la liste des projets">Retour</a>
{% endblock %}
