{% extends 'base.html.twig' %}

{% block main %}
	<twig:HomeContainer title="Votre profil">
		<twig:block name="extra"></twig:block>
		<img src="/" alt="Votre image de profil : {{user.usrAvatar}}">
		<ul>
			<li>Nom:
				{{user.usrName}}</li>
			<li>Prénom:
				{{user.usrFirstName}}</li>
			<li>Adresse mail:
				{{user.usrName}}</li>
		</ul>
		<twig:Button variant="danger" text="Changer votre mot de passe"/>
	</twig:HomeContainer>
{% endblock %}
